In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.086642 -1.594370  0.372398  1.970491
2013-01-02 -1.585703 -0.583499  1.045817 -0.963874
2013-01-03  0.872648  0.780763 -1.196167  0.556972
2013-01-04  0.609914  0.121577 -0.413961 -0.019230
2013-01-05 -0.560415  1.150501  1.474904 -1.512008
2013-01-06  0.793062  0.022036 -1.652239 -0.483609

In [9]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...:

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [17]:
df2.abs

<bound method NDFrame.abs of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [18]:
df.head()

                   A         B         C         D
2013-01-01 -0.086642 -1.594370  0.372398  1.970491
2013-01-02 -1.585703 -0.583499  1.045817 -0.963874
2013-01-03  0.872648  0.780763 -1.196167  0.556972
2013-01-04  0.609914  0.121577 -0.413961 -0.019230
2013-01-05 -0.560415  1.150501  1.474904 -1.512008

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.609914  0.121577 -0.413961 -0.019230
2013-01-05 -0.560415  1.150501  1.474904 -1.512008
2013-01-06  0.793062  0.022036 -1.652239 -0.483609

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.to_numpy()

array([[-0.08664153, -1.59436985,  0.37239821,  1.97049065],
       [-1.58570263, -0.58349894,  1.045817  , -0.96387351],
       [ 0.87264831,  0.78076312, -1.19616726,  0.55697223],
       [ 0.60991371,  0.12157742, -0.41396118, -0.01923002],
       [-0.56041544,  1.15050147,  1.47490369, -1.51200754],
       [ 0.79306228,  0.02203613, -1.65223898, -0.48360939]])

In [22]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.007144 -0.017165 -0.061541 -0.075210
std    0.958976  0.982775  1.242345  1.233578
min   -1.585703 -1.594370 -1.652239 -1.512008
25%   -0.441972 -0.432115 -1.000616 -0.843807
50%    0.261636  0.071807 -0.020781 -0.251420
75%    0.747275  0.615967  0.877462  0.412922
max    0.872648  1.150501  1.474904  1.970491

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.086642   -1.585703    0.872648    0.609914   -0.560415    0.793062
B   -1.594370   -0.583499    0.780763    0.121577    1.150501    0.022036
C    0.372398    1.045817   -1.196167   -0.413961    1.474904   -1.652239
D    1.970491   -0.963874    0.556972   -0.019230   -1.512008   -0.483609

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.970491  0.372398 -1.594370 -0.086642
2013-01-02 -0.963874  1.045817 -0.583499 -1.585703
2013-01-03  0.556972 -1.196167  0.780763  0.872648
2013-01-04 -0.019230 -0.413961  0.121577  0.609914
2013-01-05 -1.512008  1.474904  1.150501 -0.560415
2013-01-06 -0.483609 -1.652239  0.022036  0.793062

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.086642 -1.594370  0.372398  1.970491
2013-01-02 -1.585703 -0.583499  1.045817 -0.963874
2013-01-06  0.793062  0.022036 -1.652239 -0.483609
2013-01-04  0.609914  0.121577 -0.413961 -0.019230
2013-01-03  0.872648  0.780763 -1.196167  0.556972
2013-01-05 -0.560415  1.150501  1.474904 -1.512008

In [27]:
df['A']

2013-01-01   -0.086642
2013-01-02   -1.585703
2013-01-03    0.872648
2013-01-04    0.609914
2013-01-05   -0.560415
2013-01-06    0.793062
Freq: D, Name: A, dtype: float64

In [28]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.086642 -1.594370  0.372398  1.970491
2013-01-02 -1.585703 -0.583499  1.045817 -0.963874
2013-01-03  0.872648  0.780763 -1.196167  0.556972